body,
html {
    font-family: Arial, Tahoma, sans-serif;
    text-align: center;
}

.logo {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

#divzapzap {
    width: 100%;
    background-color: #39890f;
    line-height: 60px;
    font-size: 14px;
    color: #FFF;
    float: left;
    text-align: center;
}

#divlocalizacao {
    width: 100%;
    background-color: #af0505;
    line-height: 60px;
    font-size: 14px;
    color: #FFF;
    float: left;
    text-align: center;
}

#divtel {
    width: 100%;
    background-color: rgb(57, 53, 53);
    line-height: 60px;
    font-size: 14px;
    color: #FFF;
    float: left;
    text-align: center;

}

#divcompartilhar {
    width: 100%;
    background-color: #f4f4f4;
    line-height: 60px;
    font-size: 14px;
    color: #0a0909;
    float: left;
    text-align: center;

}

.propaganda {
    width: 100%;
    background-color: #ffffff;
    line-height: 60px;
    font-size: 14px;
    color: #030303;
    float: left;
    text-align: center;

}
.site {
    width: 100%;
    background-color: #cb8f48;
    line-height: 60px;
    font-size: 14px;
    color: #fff;
    float: left;
    text-align: center;

}

.divface {
    width: 100%;
    background-color: #4267B2;
    line-height: 60px;
    font-size: 14px;
    color: #FFF;
    float: left;
    text-align: center;

}
